
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.container {
    background-color: lightgreen;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: none; 

}
.container  h1{
    text-align: center;
}

input, button {
    width:200px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 30px;
    padding: 10px;
    border: none; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    
}
button {
    width:200px;
    height: 40px; 
    background-color: tomato;
    border: none;
}
ul {
    list-style-type: none;
    padding: 0;
}

input:focus, button:focus {
    outline: none; /* Remove outline on focus */
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  
}
.close {
    cursor: pointer;
    color: red;
    border: none;
    background: none; 
    font-size: 1.2em;
}
